---

---
<div class="bg-black">
   <div class="flex">
        <pre class="text-white">%%%%%@@%%%***++++++++++++++++++++++++++</pre>
    </div>
    <div class="flex">
        <pre class="text-white">%%%@@@@@@%*+**+++++++++++++++++=--=-===</pre>
    </div>
    <div class="flex">
        <pre class="text-white">%%%@@@%##*=::=++++++++++++=============</pre>
    </div>
    <div class="flex">
        <pre class="text-white">@%%@@##*=</pre><pre class="text-olive">:</pre><pre class="text-silver">.   </pre><pre class="text-white">:=====+++===========+=+==</pre>
    </div>
    <div class="flex">
        <pre class="text-white">#**%#+</pre><pre class="text-red">+</pre><pre class="text-yellow">=</pre><pre class="text-red">==-:</pre><pre class="text-maroon">.</pre><pre class="text-olive"> </pre><pre class="text-gray">  </pre><pre class="text-white">:---======+=++====+++++</pre>
    </div>
    <div class="flex">
        <pre class="text-white">###%#+</pre><pre class="text-yellow">-</pre><pre class="text-red">**+</pre><pre class="text-yellow">*</pre><pre class="text-red">*+=</pre><pre class="text-fuchsia">:</pre><pre class="text-silver">.</pre><pre class="text-gray">.</pre><pre class="text-white">..===+==++==+=+==+++++</pre>
    </div>
    <div class="flex">
        <pre class="text-white">%##@@</pre><pre class="text-yellow">*</pre><pre class="text-red">#</pre><pre class="text-yellow">*</pre><pre class="text-red">****</pre><pre class="text-white">#</pre><pre class="text-red">#</pre><pre class="text-fuchsia">#</pre><pre class="text-purple">*</pre><pre class="text-fuchsia">=</pre><pre class="text-gray">.</pre><pre class="text-white">-===+=+</pre><pre class="text-red">**</pre><pre class="text-white">+</pre><pre class="text-red">**</pre><pre class="text-white">++</pre><pre class="text-red">*</pre><pre class="text-white">++++++</pre>
    </div>
    <div class="flex">
        <pre class="text-white">%##@@</pre><pre class="text-olive">#</pre><pre class="text-yellow">%</pre><pre class="text-red">*****</pre><pre class="text-maroon">#</pre><pre class="text-fuchsia">#</pre><pre class="text-white">#</pre><pre class="text-red">#</pre><pre class="text-fuchsia">+</pre><pre class="text-olive">:</pre><pre class="text-white">===++++</pre><pre class="text-red">+</pre><pre class="text-fuchsia">*</pre><pre class="text-white">+</pre><pre class="text-red">*</pre><pre class="text-silver">#</pre><pre class="text-white">+*</pre><pre class="text-red">*+</pre><pre class="text-white">+++++</pre>
    </div>
    <div class="flex">
        <pre class="text-white">%%%@@</pre><pre class="text-yellow">%</pre><pre class="text-red">*+</pre><pre class="text-silver">=</pre><pre class="text-red">=</pre><pre class="text-white">*</pre><pre class="text-fuchsia">**+++*</pre><pre class="text-maroon">-</pre><pre class="text-white">-=+++</pre><pre class="text-red">+</pre><pre class="text-fuchsia">#</pre><pre class="text-white">*</pre><pre class="text-red">*</pre><pre class="text-maroon">#</pre><pre class="text-red">*</pre><pre class="text-fuchsia">#</pre><pre class="text-white">#</pre><pre class="text-red">*</pre><pre class="text-silver">*</pre><pre class="text-white">***+++</pre>
    </div>
    <div class="flex">
        <pre class="text-white">%%%@%</pre><pre class="text-yellow">#</pre><pre class="text-red">+-</pre><pre class="text-purple">=</pre><pre class="text-red">-*</pre><pre class="text-fuchsia">#*=+</pre><pre class="text-white">*</pre><pre class="text-fuchsia">*</pre><pre class="text-yellow">=</pre><pre class="text-white">-++**+</pre><pre class="text-red">*</pre><pre class="text-purple">#</pre><pre class="text-red">*</pre><pre class="text-white">#</pre><pre class="text-red">#</pre><pre class="text-silver">#</pre><pre class="text-red">#</pre><pre class="text-maroon">#</pre><pre class="text-white">#***+*+</pre>
    </div>
    <div class="flex">
        <pre class="text-white">##%%@</pre><pre class="text-yellow">%</pre><pre class="text-red">#*+**</pre><pre class="text-maroon">*</pre><pre class="text-red">*</pre><pre class="text-fuchsia">***</pre><pre class="text-silver">*</pre><pre class="text-red">+</pre><pre class="text-white">=+******</pre><pre class="text-fuchsia">###</pre><pre class="text-white">#</pre><pre class="text-fuchsia">#</pre><pre class="text-red">#</pre><pre class="text-fuchsia">#</pre><pre class="text-olive">*</pre><pre class="text-white">**+*+</pre>
    </div>
    <div class="flex">
        <pre class="text-white">###%%</pre><pre class="text-yellow">%</pre><pre class="text-red">*</pre><pre class="text-fuchsia">*</pre><pre class="text-red">++*</pre><pre class="text-fuchsia">*#*##</pre><pre class="text-purple">#</pre><pre class="text-red">=</pre><pre class="text-white">=+******</pre><pre class="text-red">*</pre><pre class="text-fuchsia">#</pre><pre class="text-white">#</pre><pre class="text-fuchsia">#</pre><pre class="text-white">#</pre><pre class="text-fuchsia">#</pre><pre class="text-silver">#</pre><pre class="text-red">#</pre><pre class="text-white">**+*+</pre>
    </div>
    <div class="flex">
        <pre class="text-white">###%@</pre><pre class="text-red">**==+</pre><pre class="text-fuchsia">*****#*</pre><pre class="text-white">==+***</pre><pre class="text-red">***</pre><pre class="text-white">*</pre><pre class="text-red">*</pre><pre class="text-fuchsia">#</pre><pre class="text-purple">#</pre><pre class="text-fuchsia">#</pre><pre class="text-white">#</pre><pre class="text-fuchsia">#</pre><pre class="text-silver">#</pre><pre class="text-white">**+*+</pre>
    </div>
    <div class="flex">
        <pre class="text-white">###%@</pre><pre class="text-red">**+-</pre><pre class="text-fuchsia">+</pre><pre class="text-purple">#</pre><pre class="text-fuchsia">**+*#</pre><pre class="text-white">+==+****</pre><pre class="text-purple">*</pre><pre class="text-fuchsia">#</pre><pre class="text-white">#</pre><pre class="text-fuchsia">##</pre><pre class="text-white">%%</pre><pre class="text-fuchsia">###</pre><pre class="text-white">**+*+</pre>
    </div>
    <div class="flex">
        <pre class="text-white">*###@</pre><pre class="text-yellow">*</pre><pre class="text-red">++++</pre><pre class="text-fuchsia">+**#</pre><pre class="text-purple">#</pre><pre class="text-fuchsia">#</pre><pre class="text-white">=-=+*#*****#</pre><pre class="text-fuchsia">##</pre><pre class="text-purple">#</pre><pre class="text-white">#</pre><pre class="text-fuchsia">#</pre><pre class="text-white">#</pre><pre class="text-olive">*</pre><pre class="text-white">*+*+</pre>
    </div>
    <div class="flex">
        <pre class="text-white">***#%</pre><pre class="text-red">*=++*</pre><pre class="text-fuchsia">*###</pre><pre class="text-white">*=====***#******</pre><pre class="text-red">+</pre><pre class="text-white">#</pre><pre class="text-silver">#</pre><pre class="text-fuchsia">#</pre><pre class="text-white">#***+</pre>
    </div>
    <div class="flex">
        <pre class="text-white">+***%</pre><pre class="text-yellow">+</pre><pre class="text-red">=</pre><pre class="text-yellow">=</pre><pre class="text-red">=</pre><pre class="text-fuchsia">+*</pre><pre class="text-white">*</pre><pre class="text-fuchsia">**</pre><pre class="text-white">===-==**##*****#+</pre><pre class="text-fuchsia">*</pre><pre class="text-white">#</pre><pre class="text-purple">#</pre><pre class="text-white">#</pre><pre class="text-purple">#</pre><pre class="text-white">*+=</pre>
    </div>
    <div class="flex">
        <pre class="text-aqua">+==</pre><pre class="text-red">+++++</pre><pre class="text-fuchsia">++=+*</pre><pre class="text-silver">*=</pre><pre class="text-aqua">=+=</pre><pre class="text-white">--+*****+*+++</pre><pre class="text-red">+</pre><pre class="text-silver">*</pre><pre class="text-fuchsia">#</pre><pre class="text-white">##</pre><pre class="text-fuchsia">#</pre><pre class="text-white">++</pre>
    </div>
    <div class="flex">
        <pre class="text-teal">-</pre><pre class="text-aqua">--=</pre><pre class="text-red">+++</pre><pre class="text-fuchsia">*</pre><pre class="text-silver">*</pre><pre class="text-fuchsia">####*</pre><pre class="text-navy">=</pre><pre class="text-aqua">=</pre><pre class="text-teal">-</pre><pre class="text-aqua">==++++</pre><pre class="text-silver">+</pre><pre class="text-white">+++*++++</pre><pre class="text-red">+</pre><pre class="text-purple">*</pre><pre class="text-fuchsia">#</pre><pre class="text-white">#</pre><pre class="text-silver">#*</pre><pre class="text-white">+</pre>
    </div>
    <div class="flex">
        <pre class="text-aqua">=-</pre><pre class="text-teal">-</pre><pre class="text-aqua">--</pre><pre class="text-fuchsia">+</pre><pre class="text-red">**</pre><pre class="text-fuchsia">##</pre><pre class="text-white">#</pre><pre class="text-silver">#</pre><pre class="text-fuchsia">#+</pre><pre class="text-aqua">====</pre><pre class="text-teal">-</pre><pre class="text-aqua">-</pre><pre class="text-teal">=</pre><pre class="text-aqua">======</pre><pre class="text-silver">+</pre><pre class="text-white">===+</pre><pre class="text-red">+</pre><pre class="text-white">*</pre><pre class="text-fuchsia">*</pre><pre class="text-white">#</pre><pre class="text-fuchsia">#</pre><pre class="text-white">#.</pre>
    </div>
    <div class="flex">
        <pre class="text-aqua">=-</pre><pre class="text-teal">-</pre><pre class="text-aqua">---</pre><pre class="text-fuchsia">+*</pre><pre class="text-silver">*</pre><pre class="text-fuchsia">###</pre><pre class="text-purple">#</pre><pre class="text-fuchsia">=</pre><pre class="text-aqua">=====-==</pre><pre class="text-teal">=</pre><pre class="text-aqua">=</pre><pre class="text-teal">=</pre><pre class="text-aqua">=</pre><pre class="text-teal">-</pre><pre class="text-aqua">+</pre><pre class="text-red">**</pre><pre class="text-white">++*</pre><pre class="text-red">*</pre><pre class="text-white">*</pre><pre class="text-purple">#</pre><pre class="text-white">#</pre><pre class="text-purple">#</pre><pre class="text-white">-</pre>
    </div>
    <div class="flex">
        <pre class="text-aqua">=-</pre><pre class="text-navy">=</pre><pre class="text-aqua">=====</pre><pre class="text-silver">=</pre><pre class="text-fuchsia">*</pre><pre class="text-white">+</pre><pre class="text-fuchsia">=</pre><pre class="text-aqua">===+</pre><pre class="text-teal">=</pre><pre class="text-aqua">==</pre><pre class="text-navy">=</pre><pre class="text-aqua">=+===-=</pre><pre class="text-blue">+</pre><pre class="text-white">#</pre><pre class="text-fuchsia">#</pre><pre class="text-silver">#</pre><pre class="text-purple">#</pre><pre class="text-red">++</pre><pre class="text-white">*</pre><pre class="text-fuchsia">*</pre><pre class="text-white">##+</pre>
    </div>
    <div class="flex">
        <pre class="text-aqua">=-==</pre><pre class="text-teal">=</pre><pre class="text-aqua">-========</pre><pre class="text-navy">-</pre><pre class="text-aqua">+=====++=</pre><pre class="text-navy">=</pre><pre class="text-aqua">=-</pre><pre class="text-silver">*</pre><pre class="text-white">#</pre><pre class="text-fuchsia">#</pre><pre class="text-white">#</pre><pre class="text-fuchsia">#</pre><pre class="text-white">#</pre><pre class="text-purple">+</pre><pre class="text-white">+</pre><pre class="text-fuchsia">*</pre><pre class="text-purple">*</pre><pre class="text-fuchsia">*</pre><pre class="text-silver">+</pre>
    </div>
    <div class="flex">
        <pre class="text-aqua">===========+</pre><pre class="text-teal">-</pre><pre class="text-aqua">==+===++=+==-</pre><pre class="text-navy">=</pre><pre class="text-fuchsia">**</pre><pre class="text-silver">*</pre><pre class="text-fuchsia">*</pre><pre class="text-white">*</pre><pre class="text-fuchsia">***</pre><pre class="text-white">*</pre><pre class="text-fuchsia">*</pre><pre class="text-white">+-</pre>
    </div>
    <div class="flex">
        <pre class="text-teal">=</pre><pre class="text-aqua">==</pre><pre class="text-navy">=</pre><pre class="text-aqua">==</pre><pre class="text-teal">=</pre><pre class="text-aqua">==</pre><pre class="text-teal">=</pre><pre class="text-aqua">====-++**++=+=-=</pre><pre class="text-red">+++++</pre><pre class="text-silver">+</pre><pre class="text-red">+</pre><pre class="text-white">+</pre><pre class="text-fuchsia">+</pre><pre class="text-purple">+</pre><pre class="text-red">=</pre><pre class="text-white">=-</pre>
    </div>
    <div class="flex">
        <pre class="text-aqua">==========+=#*=******==</pre><pre class="text-fuchsia">-</pre><pre class="text-white">=========-::--=</pre>
    </div>
</div>
